
<%= erb :"_errors", layout: false, locals: {errors: @errors} %>

<h3>Bubbles?</h3>
<form action="/questions" method="post">
  Questions: <input type="text" name="question">
  <input type="submit" name="Submit">
</form>
