<h2>Question</h2>
<p><%= @question.text %></p>

<h6>Vote</h6>
<p><%= @question.vote_count %></p>


<%= erb :"/answers/_new" %>

<br>
<ul id="answer-list">
  <% @answers.each do |answer_to_show| %>

    <%= erb :"/answers/_show", layout: false, locals: {answer: answer_to_show } %>

  <% end %>
</ul>
