<form action="/questions/<%= @question.id %>/answers" method="POST">
    <label for="answer">Answer:</label>
    <input type="text" name="answer" placeholder="Answer">
    <br>
    <input type="submit" value="Submit">
</form>