<nav>
  <ul>
    <% if logged_in? %>
        <a href="/questions">Home</a><br>
        <a href="/sessions/logout">Logout</a>
    <% else %>
        <a href="/questions">Home</a><br>
        <a href="/sessions/new">Log in</a><br>
        <a href="/users/new">Register</a>
    <% end %>
  </ul>
</nav>
