<nav>
  <ul>
    <% if logged_in? %>
    <li ><a href="/">Home</a></li>
    <% else %>
    <li><a href="/">Home</a></li>
    <li><a href="/sessions/new">Log in</a></li>
    <li><a href="/users/new">Register</a></li>
    <% end %>
  </ul>
</nav>
